:root {
  --box1-color: rgba(0, 128, 0, 0.7);
  --box2-color: rgba(0, 0, 255, 0.7);
  --box3-color: rgba(0, 0, 39, 0.7);
  --box4-color: rgba(111, 28, 189, 0.9);
  --box5-color: rgba(255, 68, 0, 0.7);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 94px;
}

body {
  display: flex;
  justify-content: center;
  height: 17vh;
}

.container {
  display: flex;
  height: 100%;
  width: 70vw;
}

.container .box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
}

.container .box.box1 {
  background-color: var(--box1-color);
  height: 35%;
  flex: 1;
  font-size: 0.25rem;
}

.container .box.box2 {
  background-color: var(--box2-color);
  flex: 2;
  height: 60%;
  font-size: 0.5rem;
}

.container .box.box3 {
  background-color: var(--box3-color);
  flex: 3;
  height: 100%;
  font-size: 1rem;
}

.container .box.box4 {
  background-color: var(--box4-color);
  flex: 2;
  height: 60%;
  font-size: 0.5rem;
}

.container .box.box5 {
  background-color: var(--box5-color);
  height: 35%;
  font-size: 0.25rem;
  flex: 1;
}
