body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  color: #ff6565;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-home {
  background-image: url(./images/headphones_hero_1.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  color: #ffffff;
}

header {
  padding: 27px 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-item {
  margin-left: 41px;
}

.btn {
  border-radius: 22px;
  background-color: #ff6565;
  border: none;
  font-size: 14px;
  padding: 0.8rem 2rem;
  color: #ffffff;
  cursor: pointer;
  margin: 40px 0;
}

button:hover,
button:active {
  opacity: 0.9;
}

p {
  text-align: center;
  max-width: 637px;
}

.aling-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-home main h1 {
  margin-top: 40vh;
  margin-bottom: 0;
}
.section-home main h4 {
  margin: 0;
}

header .menu-icon {
  cursor: pointer;
  user-select: none;
}
header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  width: 20px;
  height: 0.2rem;
  position: relative;
  transition: background 0.2s ease-out;
}
header .menu-icon .navicon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  transition: background 0.2s ease-out;
}
header .menu-icon .navicon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  transition: background 0.2s ease-out;
  top: 0.7rem;
}
header .menu-icon .navicon::after {
  top: -0.7rem;
}
header .menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .container {
    margin: 0 30px;
  }

  .section-home main h1 {
    margin-top: 30vh;
  }
}
@media (max-width: 480px) {
  .navbar-menu {
    display: none;
  }

  header {
    flex-direction: column;
  }
  header .logo {
    margin: 0 auto;
  }

  .nav {
    flex-direction: column;
    padding: 0;
  }
  .nav .nav-item {
    align-self: center;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .menu-icon {
    position: absolute;
    padding: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
@media (min-width: 480px) {
  .menu-icon {
    display: none;
  }
}
/**** menu button *****/
.menu-btn:checked ~ .navbar-menu {
  display: block;
}
.menu-btn:checked ~ * .nav {
  max-height: 100%;
  overflow: inherit;
}
.menu-btn:checked ~ * .navicon {
  background: transparent;
}
.menu-btn:checked ~ * .navicon::before {
  transform: rotate(45deg);
  top: 0;
}
.menu-btn:checked ~ * .navicon::after {
  transform: rotate(-45deg);
  top: 0;
}

/* ------------ What we do section -------------*/
.service-container {
  display: flex;
  margin: 110px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.section-what-we h1 {
  margin-top: 110px;
}

.service-item {
  margin: 0 10px;
  width: 207px;
}
.service-item span {
  font-size: 5rem;
  color: #ff6565;
}

.section-results {
  background-image: url(./images/headphones_hero_2.jpg);
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
}
.section-results .service-item {
  background-image: url(./images/pentagone.png);
  background-position: top;
  background-size: 190px 207px;
  background-repeat: no-repeat;
  margin: 30px 10px;
}
.section-results .service-item span {
  margin-top: 30px;
  color: #ffffff;
}
.section-results h1 {
  margin-top: 110px;
}

/* ------------ Contact section -------------*/
.section-contact form {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 50px 0;
}
.section-contact form label {
  margin-top: 40px;
}
.section-contact .btn {
  width: 12rem;
  align-self: center;
}
.section-contact h1 {
  margin-top: 110px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
}
input:focus {
  border-color: #ff6565;
}

footer {
  background-color: #071629;
  height: 249px;
  width: 100%;
  color: #ffffff;
}
footer .social-media span {
  font-size: 30px;
  margin-left: 20px;
}
footer .container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding-top: 90px;
}
footer .footer-icon {
  width: 50%;
}
footer .social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
footer .copyrigth {
  width: 100%;
}
footer .copyrigth h4 {
  text-align: center;
  margin: 75px 0 0 0;
}

/* ------------ Animation section -------------*/
.service-item {
  z-index: 0;
  transition: transform 1s;
}
.service-item:hover {
  z-index: 2;
  transform: scale(1.3);
}
